@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.jungleImage {
  background-image: url('assets/img/BANNER.jpg');
}


















.image-container{
  overflow: hidden;
}

.my-image{
  transition: 0.4 ease-in-out
}

.my-image:hover{
  transform: scale(1.07)
}






